@import "tailwindcss";

@theme {
  --font-sans: "Helvetica Neue", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-orange: #FF7D63;
  --color-background: #FFFFF6;
}

html,
body {
  @apply bg-background;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
